.additional {
  margin-top: 42px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 84px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 92px;
    margin-bottom: 51px;
  }
}

.additional__title-wrapper {
  width: 247px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 412px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
    width: 402px;
    padding-right: 3px;
    padding-left: 8px;
  }
}

.additional::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 100%;
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    top: 23px;
  }
}

.additional__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-top: -17px;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}

.additional__list {
  list-style: none;
  padding: 35px 0 0;
  margin: 0;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border: 0;
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    border-top: 1px solid #cdcdcd;
    margin-top: 80px;
    padding-top: 0;
  }
}

.additional__link {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 165px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    padding-top: 12px;
    padding-left: 2px;
  }
}

.additional__title-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__info {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin-left: 119px;
    width: 287px;
    padding-top: 30px;
  }
}

.additional__button {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 18px;
  padding-top: 9px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    margin-top: 22px;
    margin-bottom: 28px;
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    margin-top: 15px;
    margin-bottom: 16.7px;
  }
}

.additional__text-wrapper {
  width: 161px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 423px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    width: 246px;
  }
}

.additional__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;

  @media (min-width: @tablet-width) {
    padding-top: 72px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    padding: 0 30px;
    padding-top: 171px;
  }
}

.additional__item {
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 0 37px;
    margin-bottom: -1px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 0;
  }
}

.additional__wrapper-inside {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additional__wrapper-top {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.additional__wrapper-bottom {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 895px 246px;
    grid-gap: 80px;
    overflow: hidden;
  }
}

.additional__wraper-bag {
  background-image: url("../img/photos/mobile/bag-mobile.png");
  background-repeat: no-repeat;
  width: 280px;
  min-height: 290px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photos/mobile/bag-mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/photos/tablet/bag-tablet.png");
    width: 707px;
    min-height: 200px;
    margin-top: 69px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/tablet/bag-tablet@2x.png");
      background-size: 707px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/photos/desktop/bag-desktop.png");
    width: 246px;
    min-height: 289px;
    margin-top: -289px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/desktop/bag-desktop@2x.png");
      background-size: 246px auto;
    }
  }
}

.additional__wraper-bag--logo {
  @media (min-width: @desktop-width) {
    width: 246px;
    margin-top: 80px;
  }
}

.additional__wraper-bag::before {
  content: "";
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  min-height: 290px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 707px;
    min-height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 246px;
    min-height: 289px;
  }
}

.additional__wraper-bag--logo::after {
  content: "";
  position: absolute;
  top: 59px;
  left: 101px;
  width: 78px;
  height: 80px;
  background-image: url("../img/logo/icon-gift.svg");

  @media (min-width: @tablet-width) {
    top: 57px;
    left: 78px;
    background-image: url("../img/logo/icon-gift-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    top: 56px;
    left: 84px;
  }
}

.additional__icon-gift-mobile {
  padding-top: 59px;
  padding-left: 101px;
}

.additional__info-quantity {
  @media (min-width: @tablet-width) {
    padding-right: 50px;
  }
}

.additional__item:nth-of-type(2) .additional__info-quantity {
  @media (min-width: @tablet-width) {
    padding-right: 60px;
  }
}

.additional__item:nth-of-type(2) .additional__info-price {
  @media (min-width: @desktop-width) {
    padding-right: 9px;
  }
}
