.copyright__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin-top: 8px;
  margin-left: -1px;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
