.example {
  background-color: #eaeaea;
  margin: 0 auto;
  margin-top: 49px;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  padding-top: 25px;
}

.example__wrapper {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}

.example__about {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-top: 40px;
}

.example__meaning {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 122px;
  height: 40px;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.example__indicator {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #444444;
  margin: 0;
  width: 87px;
  background-color: #eaeaea;
  margin-top: 7px;
  margin-left: 17px;
}

.example__expences {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 34px;
}

.example__button-photo {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.example__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.example__wrapper-toggle {
  display: flex;
  padding-top: 15px;
  padding-left: 35px;
}

.example__button-toggle {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  margin: 2px 5px 0 7px;
}

.example__wrapper-inside {
  padding: 20px 0 0 0;
}

.example__photo {
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 44px;
  margin: 0 auto;
  width: 280px;
}

