.food__wrapper-top {
  background-image: url("../img/photos/mobile/cat.jpg");
  background-repeat: no-repeat;
  min-height: 302px;
  width: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photos/mobile/cat@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.food__wrapper-bottom {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 198px;

  @media (min-width: @tablet-width) {
    margin-bottom: 594px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 329px;
  }
}

.food__wrapper-cat-energy {
  position: absolute;
  background-image: url("../img/photos/mobile/cat-energy-mobile-food.png");
  width: 280px;
  z-index: 2;
  bottom: -178px;
  min-height: 313px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photos/mobile/cat-energy-mobile-food@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/photos/tablet/cat-energy-tablet-food.jpg");
    width: 708px;
    min-height: 609px;
    bottom: -564px;
    left: -1px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/tablet/cat-energy-tablet-food@2x.jpg");
      background-size: 708px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/photos/desktop/cat-energy-desktop-food.png");
    left: 192px;
    top: -278px;
    width: 552px;
    height: 499px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/desktop/cat-energy-desktop-food@2x.png");
      background-size: 552px auto;
    }
  }
}

.food::after {
  content: "";
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);
  height: 302px;
  width: 100%;
  top: 65px;
  z-index: 0;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 694px;
    background-image: url("../img/photos/desktop/cat-desktop.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    width: 50%;
    background-size: cover;
    background-color: rgba(104, 183, 56, 0.85);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photos/desktop/cat-desktop@2x.jpg");
    }
  }
}

.food__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  padding: 27px 0 0 0;
  margin: 0;
  z-index: 1;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    padding: 56px 0 0 87px;
  }

  @media (min-width: @desktop-width) {
    padding: 106px 0 0 80px;
  }
}

.food__title-slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 1px 0 0;
  margin: 0;
  z-index: 1;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: start;
    padding: 41px 0 0 89px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px 0 0 80px;
  }
}

.food__button {
  margin-top: 273px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    position: absolute;
    top: 31px;
    left: 91px;
    padding: 17px 0;
    margin-top: -2px;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    top: 316px;
    left: -368px;
  }
}

.food__cat-energy-tablet-food {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.food__cat-energy-mobile-food {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
