.food {
  background-image: url("../img/photos/mobile/green.jpg");
  background-repeat-y: no-repeat;
}

.food__wrapper {
  min-height: 302px;
}

.food__wrapper-cat-energy {
  width: 280px;
  padding: 29px 0 0 0;
  margin: 0 auto;
  margin-top: -164px;
}

.food__button {
  margin-top: -2px;
}
