.form__wrapper-title {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  padding-top: 23px;
  margin-bottom: -13px;
}

.form__title-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__fieldset-pet,
.form__fieldset-radio,
.form__fieldset-contacts,
.form__fieldset-comment,
.form__fieldset-additional,
.form__fieldset-send {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset-radio {
  position: relative;
}

.form__fieldset-radio::after {
  content: "";
  position: absolute;
  bottom: 16px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  z-index: -1;
}

.form__fieldset-radio::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  z-index: -1;
}

.form__list-radio {
  list-style: none;
  padding: 0;
  padding-top: 9px;
}

.form__list-pet {
  list-style: none;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 9px;
}

.form__fieldset-pet {
  margin-bottom: -15px;
}

.form__wrapper-pet {
  padding: 0;
  margin: 0;
}

.form__list-checkbox {
  list-style: none;
  padding: 0;
}

.form__item-radio {
  position: relative;
  padding-bottom: 19px;
}

.form__wrapper-title-additional {
  width: 164px;
}

.form__additional {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #ffffff;
}

.form__item-radio:nth-of-type(3) {
  padding-bottom: 21px;
}

.form__item-radio:nth-of-type(3) .form__radio-marker {
  bottom: 18px;
}

.form__item-checkbox {
  position: relative;
  padding-bottom: 19px;
}

.form__label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
}

.form__input-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-bottom: 14px;
  padding: 13px 0 12px 14px;
  width: 100%;
}

.form__item:nth-of-type(1) .form__label-text-span {
  padding-top: 13px;
  width: 24%;
}

.form__item:nth-of-type(2) .form__label-text-span {
  padding-top: 13px;
  width: 41%;
}

.form__item:nth-of-type(3) .form__label-text-span {
  padding-top: 13px;
  width: 69%;
}

.form__checkbox-label {
  position: relative;
}

.form__checkbox-mark {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 1px;
  bottom: -3px;
}

.form__checkbox-input[type="checkbox"]:checked + .form__checkbox-mark::before {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 18px;
  height: 14px;
  background-image: url("../img/logo/checkbox-mobile.svg");
  background-repeat: no-repeat;
  content: "";
}

.form__fieldset-contacts,
.form__fieldset-comment,
.form__fieldset-additional {
  position: relative;
}

.form__fieldset-contacts::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}

.form__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-top: 10px;
  margin: 0;
  padding-bottom: 19px;
  background-color: #ffffff;
}

.form__wrapper-title-contacts {
  width: 201px;
}

.form__fieldset-comment::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}

.form__fieldset-additional::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
}

.form__radio-control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-left: 46px;
}

.form__contacts-list {
  list-style: none;
  padding: 0;
}

.form__contacts-item:nth-of-type(2) {
  padding-top: 14px;
}

.form__email-label,
.form__tel-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  display: flex;
}

.form__email-label-span {
  padding-top: 13px;
  width: 31%;
}

.form__tel-label-span {
  padding-top: 13px;
  width: 41%;
}

.form__email-input,
.form__tel-input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 13px 0 12px 14px;
  border: 1px solid #cdcdcd;
  width: 100%;
  background-repeat: no-repeat;
}

.form__email-input {
  background-image: url("../img/logo/icon-mail.svg");
  background-position: 184px 15px;
}

.form__tel-input {
  background-image: url("../img/logo/icon-phone.svg");
  background-position: 170px 12px;
}

.form__textarea {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  min-width: 262px;
  min-height: 138px;
  border: 1px solid #e7e7e7;
  resize: none;
  margin-top: 38px;
  padding-top: 8px;
  padding-left: 14px;
}

.form__checkbox-control-label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  padding-left: 46px;
}

.form__button {
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  width: 100%;
}

.form__radio-marker {
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: 17px;

  &:hover {
    border: 1px solid #bababa;
  }

  &:active {
    border: 1px solid #bababa;
    opacity: 0.3;
  }
}

.form__radio-input[type="radio"]:checked + .form__radio-marker::before {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;
  content: "";
  left: 8px;
  bottom: 7px;
}

.form__wrapper-title-comment {
  width: 143px;
}

.form__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-top: 8px;
  background-color: #ffffff;
}

.form__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-top: 7px;
  padding-bottom: 6px;
}

.form__fieldset-send {
  margin-bottom: -13px;
}
