.page-footer {
  background-color: #f2f2f2;
}

.page-footer__transparent {
  background-color: transparent;
}

.page-footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 252px;
}

.page-footer__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.page-footer__wrapper-address {
  display: flex;
  padding: 0 20px;
  margin-top: 25px;
  margin-bottom: 26px;
}

.page-footer__footer-address--catalog {
  padding-top: 26px;
}

.page-footer__footer-address--form {
  padding-top: 26px;
}

.page-footer__social {
  list-style: none;
  width: 280px;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
  padding: 0;
  margin-top: 25px;
  padding-bottom: 15px;
  padding-top: 22px;
  justify-content: start;
}

.page-footer__wrapper-1 {
  margin: 0 auto;
  width: 320px;
}

.page-footer__wrapper-2 {
  background-color: #f2f2f2;
  /*width: 320px;*/
  padding-top: 39px;
}

/*.page-footer__logo-link {
  padding-left: 95px;
}*/

.page-footer__copyright {
  margin: 0 auto;
  margin-top: 22px;
  width: 280px;
  padding-bottom: 12px;
}

.page-footer__wrapper-link-kat {
  width: 129px;
  margin: 0 auto;
}
