.page-footer {
  background-color: #f2f2f2;
}

.page-footer__transparent {
  background-color: transparent;
}

.page-footer__footer-address--catalog {
  padding-top: 26px;
}

.page-footer__footer-address--form {
  padding-top: 26px;
}

.page-footer__social {
  list-style: none;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin-top: 25px;
  padding-bottom: 15px;
  padding-top: 22px;
  justify-content: start;
}

.page-footer__wrapper-top {
  margin: 0 auto;
  width: 320px;
}

.page-footer__wrapper-bottom {
  background-color: #f2f2f2;
  padding-top: 39px;
}

.page-footer__copyright {
  margin-top: 22px;
  padding-bottom: 12px;
}

.page-footer__wrapper-link-kat {
  width: 129px;
  margin: 0 auto;
}

.page-footer__container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
