.page-main__height {
  margin-top: -199px;
}

.page-main__title-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 40px;
}

.page-main__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0 auto;
  width: 280px;
  padding-top: 27px;
}

.page-main__title--catalog {
  padding-bottom: 40px;
}

.page-main__wrapper-main-title {
  border-top: 1px solid #d9d9d9;
}
