.products {
  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin-top: 123px;
    grid-row-gap: 141px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 143px;
    margin-top: 125px;
  }
}

.products__item {
  border-top: 1px solid #ebebeb;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    border: 0;
    background-color: #f2f2f2;
    padding-bottom: 0;
    max-height: 430px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 1px;
  }
}

.products__wrapper-inside {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    width: 324px;
    min-height: 430px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 431px;
  }
}

.products__item:last-of-type .products__wrapper-inside {
  margin-top: 79px;
}

.products__link {
  text-decoration: none;
  display: grid;
  grid-template-columns: 140px 76px;
  padding-top: 19px;
  padding-bottom: 83px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products__title-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding-top: 2px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0 90px;
    margin-top: 142px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    padding: 0 55px;
    margin-left: 5px;
    margin-top: 145px;
  }
}

.products__image {
  margin-bottom: -70px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-bottom: -115px;
    margin-left: 78px;
    padding-top: 21px;
    margin-top: -113px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -108px;
    margin-left: 39px;
    padding-top: 21px;
    margin-top: -120px;
  }
}

.products__table-wrapper {
  margin-top: -70px;

  @media (min-width: @tablet-width) {
    margin-top: -62px;
    margin-left: -103px;
    margin-bottom: -17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -59px;
  }
}

.products__table {
  width: 142px;
  border-collapse: collapse;
  margin-left: 140px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    margin-left: 144px;
  }
}

.products__line {
  width: 141px;
  height: 12px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.products__cell {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    padding-bottom: 7px;
  }
}

.products__line:nth-of-type(2) .products__cell {
  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }
}

.products__line:nth-of-type(3) .products__cell {
  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }
}

.products__cell--meaning {
  text-align: end;
}

.products__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 11px;
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    width: 248px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 39px;
    margin-bottom: -9px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 39px;
    margin-bottom: -9px;
  }
}

.products__more-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 0 80px;
    margin-top: 162px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
    margin-top: 161px;
  }
}

.products__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-top: -8px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 65px;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px;
    margin-top: 23px;
  }
}

.products__button-all {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #444444;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin: 0 38px;
    margin-top: 86px;
  }
}

.products__button-all:hover {
  background-color: #ebebeb;
}

.products__button-all:active {
  color: rgba(68, 68, 68, 0.3);
}

.products__plus-mobile {
  padding-left: 125px;
  padding-top: 25px;
  padding-bottom: 3px;
}

.products__wrapper--plus {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -54px;
    left: 159px;
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;

    @media (min-width: @tablet-width) {
      height: 60px;
      top: -108px;
      left: 162px;
    }

    @media (min-width: @desktop-width) {
      top: -109px;
      left: 122px;
    }
  }

  &::after {
    transform: rotate(-90deg);
  }
}

.products__item--more {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    outline: 2px solid #f2f2f2;
    outline-offset: -2px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}
