.program__weight-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: -30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin-top: -2px;
  }
}

.program__item {
  width: 280px;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.program__item--add {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }
}

.program__item--loss {
  @media (min-width: @desktop-width) {
    margin-top: 30px;
  }
}

.program__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 0 90px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    margin: 0 0 0 53px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 214px;
  }
}

.program__text {
  font-family: "arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 29px 25px 22px 20px;

  @media (min-width: @tablet-width) {
    line-height: 24px;
    font-size: 16px;
    color: #000000;
    margin: 25px 315px 0 52px;
  }

  @media (min-width: @desktop-width) {
    margin: 74px 30px -40px 52px;
  }
}

.program__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: url("../img/logo/arrow.svg");
  background-repeat: no-repeat;
  background-position: 101px 6px;
  padding-right: 55px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 25px;
    padding-right: 65px;
    background-position: 133px 9px;
  }

  @media (min-width: @desktop-width) {
    background-position: 136px 9px;
  }
}

.program__item--add .program__link {
  @media (min-width: @tablet-width) {
    padding-right: 60px;
    background-position: 129px 9px;
  }

  @media (min-width: @desktop-width) {
    background-position: 130px 9px;
  }
}

.program__link:hover {
  background-image: url("../img/logo/arrow-hover.svg");
}

.program__link:active {
  background-image: url("../img/logo/arrow-active.svg");
  color: rgba(0, 0, 0, 0.3);
}

.program__link-wrapper {
  width: 240px;
  border-top: 1px solid #d9d9d9;
  padding: 15px 0 18px 0;
  margin: 0 0 0 20px;

  @media (min-width: @tablet-width) {
    border: 0;
    margin-left: 27px;
    padding-top: 51px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 66px;
    margin-bottom: 2px;
  }
}

.program__arrow {
  position: relative;
  left: 13px;

  @media (min-width: @tablet-width) {
    left: 22px;
    top: -3px;
  }

  @media (min-width: @desktop-width) {
    left: 24px;
  }
}

.program__item--loss::before {
  position: absolute;
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/logo/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";

  @media (min-width: @tablet-width) {
    top: 81px;
    left: 446px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}

.program__item--add::before {
  position: absolute;
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/logo/cat-pro.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";

  @media (min-width: @tablet-width) {
    left: 412px;
    top: 91px;
    width: 268px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 47px;
  }
}
