.program {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.program__weight-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__item {
  width: 280px;
  height: 266px;
  background-color: #f2f2f2;
  margin-top: 20px;
  position: relative;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 0 90px;
  padding-top: 30px;
}

.program__text {
  font-family: "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 227px;
  height: 90px;
  margin: 29px 0 0 20px;
}

.program__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.program__slim {
  position: absolute;
  bottom: 192px;
  left: 22px;
}

.program__pro {
  position: absolute;
  bottom: 192px;
  left: 13px;
}

.program__link-wrapper {
  width: 240px;
  height: 56px;
  border-top: 1px solid #d9d9d9;
  margin: 23px 0 0 20px;
  padding-top: 17px;
}

.program__arrow {
  position: relative;
  left: 13px;
}
