.social__item:nth-of-type(1) {
  padding-left: 75px;
}

.social__item:nth-of-type(2) {
  padding-top: 1px;
  padding-left: 26px;
}

.social__item:nth-of-type(3) {
  padding-top: 1px;
  padding-left: 30px;
}

.social__icon-vk,
.social__icon-youtube,
.social__icon-telegram {
  fill: #666666;
}

.social__icon-vk:hover,
.social__icon-youtube:hover,
.social__icon-telegram:hover {
  fill: #68b738;
}

.social__icon-vk:active,
.social__icon-youtube:active,
.social__icon-telegram:active {
  fill: rgba(104, 183, 56, 0.3);
}
