.work {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.work__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.work__list {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.work__list-item {
  /*font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;*/
  width: 280px;
  height: 60px;
  display: flex;
  margin-top: 20px;
}

.work__list-item-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 2px 0 0 20px;
  width: 199px;
}
