.work {
  margin-top: 20px;
}

.work__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.work__list {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.work__list-item {
  margin-top: 20px;
  padding-bottom: 4px;
  position: relative;
}

.work__list-item-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding: 2px 0 0 80px;
}

.work__list-item--icon-leaf::before {
  position: absolute;
  width: 61px;
  height: 60px;
  background-image: url("../img/logo/icon-leaf.svg");
  content: "";
}

.work__list-item--icon-powder::before {
  position: absolute;
  width: 61px;
  height: 60px;
  background-image: url("../img/logo/icon-tub.svg");
  content: "";
}

.work__list-item--icon-food::before {
  position: absolute;
  width: 61px;
  height: 60px;
  background-image: url("../img/logo/icon-eat.svg");
  content: "";
}

.work__list-item--icon-clock::before {
  position: absolute;
  width: 61px;
  height: 60px;
  background-image: url("../img/logo/icon-alarm.svg");
  content: "";
}
